NODE-RED/NODE-RED.json
[{"id":"898085f0.ac7548","type":"tab","label":"Customer Helpdesk","disabled":false,"info":""},{"id":"c8012c38.cc23","type":"ui_form","z":"898085f0.ac7548","name":"","label":"","group":"f9306c2c.f51bb","order":1,"width":"0","height":"0","options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":200,"wires":[["d9a31711.e6b0a8"]]},{"id":"d9a31711.e6b0a8","type":"function","z":"898085f0.ac7548","name":"input parsing","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["a6d4f157.6381d","3aa9f6fb.7ee0ba"]]},{"id":"a6d4f157.6381d","type":"ui_text","z":"898085f0.ac7548","group":"f9306c2c.f51bb","order":2,"width":"6","height":"2","name":"","label":"Customer","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":340,"wires":[]},{"id":"e121e134.ac52b","type":"ui_text","z":"898085f0.ac7548","group":"4d096e7c.26761","order":3,"width":"20","height":"4","name":"","label":"Chatbot","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":360,"wires":[]},{"id":"3aa9f6fb.7ee0ba","type":"watson-conversation-v1","z":"898085f0.ac7548","name":"Customer Assistance","workspaceid":"f3fda8f4-f0a1-4929-8352-7c13990ca353","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/500b8f3d-46e6-49fe-b8d8-88a4904b643b","timeout":"","optout-learning":false,"x":580,"y":160,"wires":[["a8b57ae6.d14c48"]]},{"id":"a8b57ae6.d14c48","type":"function","z":"898085f0.ac7548","name":"parsing","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["6d2f21fe.fa9a6","e121e134.ac52b"]]},{"id":"6d2f21fe.fa9a6","type":"debug","z":"898085f0.ac7548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":40,"wires":[]},{"id":"e61cca47.27ca48","type":"inject","z":"898085f0.ac7548","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":60,"wires":[["3aa9f6fb.7ee0ba"]]},{"id":"f9306c2c.f51bb","type":"ui_group","z":"","name":"chatbot","tab":"99423a5b.5d81c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d096e7c.26761","type":"ui_group","z":"","name":"","tab":"99423a5b.5d81c8","order":2,"disp":true,"width":"20","collapse":false},{"id":"99423a5b.5d81c8","type":"ui_tab","z":"","name":"customercare","icon":"dashboard","disabled":false,"hidden":false}]